<div class="main top-main">
  <div class="main top-message">
    <h2>日常を、可視化しよう。</h2>
    <h3>Line Diaryで日々の満足度やモチベーションをグラフにしてみませんか。</h3>
    <img class="top-img" src="undraw_data_trends_re_2cdy.svg" alt="">
  </div>

  <div class="about">
      
  </div>
</div>


