<div class="main posts-index">
  <div class="container">
    <div class="posts-graph">
      <%= line_chart Post.group_by_day(:created_at, series: false).average(:percentage),
      curve: false,
      min: 0,
      max: 100,
      colors: ["#8795dc"],
      suffix: "%"
      %>
    </div>
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <p>
          <%= link_to(post.percentage, "/posts/#{post.id}") %> %
        </p>
        <div class="post-time">
          <%= post.created_at.to_s(:datetime_jp) %>
        </div>
      </div>
    <% end %>
  </div>
</div>

      
